
/* Navbar */

.navbar > .container-fluid {
    color: #222222;
    background-color: rgb(227, 241, 246);
    justify-content: space-around;
    text-align: center;
    max-width: 100%;
}

.navbar-trabajo > .container-fluid {
    background-color: rgb(200, 200, 200);
}

.navbar-nav .dropdown-menu {
    z-index: 1100;
}

.navbar {
    position: static;
    width: 100%;
    z-index: 100;
    margin: 0;
    padding: 0;
}

.navbar.fixed {
    position: fixed;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-collapse {
    flex-grow: 0;
}

.nav-link {
    color: rgb(20, 20, 20);
    border-style: solid;
    border-bottom-width: 1px;
    cursor: pointer;
}

.nav-link:hover, .nav-link:focus {
    color: rgb(0, 112, 190);
    border-style: solid;
    border-bottom-width: 1px;
}

.dropdown-toggle:focus{
    color: rgb(0, 112, 190) !important; 
    border-style: solid;
    border-bottom-width: 1px;
}

.nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-toggler {
    background-color: #222222;
}

.perfil, .perfil:hover, .perfil:focus {
    border-style: none;
}

.profile-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-menu {
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
}

.dropdown-item a {
    color: #222222;
    text-decoration: none;
    display: block;
    width: 100%;
}

.asdepab-logo, .pascual-logo, .PBPR-logo {
    width: 250px;
}

.logo1 {
    text-align: center;
}

.dropdown-item:hover {
    background-color: rgba(227, 241, 246, 0.6);
}

.p-mobile {
    width: min-content;
}

.a-mobile {
    width: min-content;
}

.profile-mobile .dropdown-menu,
.profile-desktop .dropdown-menu {
    position: absolute;
    z-index: 1100; /* Higher z-index to ensure it's above other content */
    top: 100%;
    right: 0;
    left: auto;
    margin-top: 0.125rem;
}

.profile {
    position: relative;
}

/* Fin Navbar */


/* Navbar V2 */
.navbar {
    background-color: rgb(227, 241, 246);
    border-bottom: 1px solid #ddd;
}

.navbar .navbar-brand,
.navbar-nav .nav-link {
    font-family: Quicksand;
    font-size: 18px;
    color: #333333;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.navbar-toggler {
    background-color: #333333;
}

/* Fin Navbar V2 */

@media (max-width: 1025px) {
    .p-mobile {
        width: 15%;
    }

    .a-mobile {
        width: 25%;
    }

    .logo1, .logo2 {
        display: inline-block;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0 10px;
    }

    .navbar {
        position: fixed;
    }

    .navbar > .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-toggler {
        order: 2;
        margin-left: 10px;
    }

    .profile-mobile {
        order: 3;
        margin-left: 10px;
        display: flex;
    }

    .navbar-collapse {
        order: 4;
        width: 100%;
        position: relative;
        z-index: 1040;
    }

    .profile-mobile .dropdown-menu {
        position: absolute;
        z-index: 1050;
        top: 100%;
        right: 0;
        left: auto;
        margin-top: 0.125rem;
        min-width: 200px;
        height: auto;
    }

    .navbar-nav .dropdown-menu {
        z-index: 1045;
    }
}

@media (min-width: 821px) {
    .a-mobile, .p-mobile {
        display: none !important;
    }
}