.cajon-form1-eg{
    background-image: url(/src/img/fondo-urltrabajo.jpg);
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 20px;
    margin: 10px 60px 30px 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.title-p1 {
    font-weight: 900;
    font-size: 40px;
    color: #111;
}

.subtitle-p1 {
    font-weight: 700;
    font-size: 30px;
    color: #111;
}

.cajon-infoform1{
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
}

.info-form1 {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
}

.select-document .form-select {
    flex: 0 0 25%;
}

.select-document .form-option:hover{
    background-color: aquamarine;
}

.select-document .form-control {
    flex: 1;
}

.des-form1{
    height: 100%;
}

.des2-form1{
    height: 150px;
}

.des-salario{
    height: 68%;
}

.select-mod{
    color: rgba(33, 37, 41, 0.7);
}

.label-form1{
    font-size: 18px;
    color: rgb(86, 91, 97);
}

.btn-form1{
    background-color: rgba(138, 138, 138, 0.83); 
    color: #fff;
    padding: 15px 30px;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btn-form1:hover {
    background-color: rgba(89, 89, 89, 0.8);
}

.placeholder-form2::placeholder {
    transform: translateY(-90%); 
}

/*Validación Formulario*/
.invalid-feedback{
    background-color: rgb(245, 85, 80, 0.7);
    border-radius: 15px;
    font-weight:700;
    color: #fff; 
    line-height: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
}


@media (max-width: 1028px){
    .cajon-form1-eg{
        margin: 10px 30px 30px 30px;;
    }

    .cajon-title {
        margin-top: 100px;
    }

    .info-form1, .cajon-infoform1{
        margin-bottom: 10px;
    }
}