.tarjeta-p1, .tarjeta-p2{
    background-color: #f8f8f8;
    border-radius: 8px;
    border: 2px solid #dee2e6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.imagen-inicio-pb{
    border-radius: 2%;
}

.subtitle-p1, .subtitle-p2, .subtitle-p3{
    font-size: 28px;
    font-weight: 700;
}

.description-p1, .description-p2, .description-p3{
    text-align: justify;
}

@media (max-width: 1028px) {
    .description-p1, .description-p2, .description-p3{
        text-align: left;
    }
}