.container-mn {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.container-mision, .container-vision {
    background-color: rgba(248, 249, 250, 0.75); 
    background-size: cover; 
    background-position: center; 
    background-blend-mode: overlay; 
    position: relative; 
    z-index: 2; 
    padding: 45px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 48%;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.container-mision{
    background-image: url('/src/img/imagen-bloque-1.jpg');
}

.container-vision{
    background-image: url('/src/img/imagen-bloque-2.jpg');
}

.container-mision:hover, .container-vision:hover {
    transform: scale(1.06); 
    background-color: rgba(248, 249, 250, 0.85); 
}

.title-mision-vision{
    font-weight: 900;
    font-size:38px;
}

.subtitle-mision-vision{
    font-weight: 700;
    font-size: 34px;
}

.subtitle-mision, .subtitle-vision {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 26px;
    color: #111111;
    text-align: center;
}

.description-mision, .description-vision {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.75;
    color: #111111;
    text-align: justify;
}

.subtitle-mision, .subtitle-vision, 
.description-mision, .description-vision {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); 
}

/* Media Query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    body {
        padding-bottom: 120px; 
    }

    .description-mision, .description-vision{
        text-align: left;
    }
    
    .container-mn {
        flex-direction: column;
        gap: 50px;
        margin-top: 8%;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }

    .container-mision, .container-vision {
        width: 100%;
        height: auto; 
        order: 1; 
    }

    .title-mision-vision {
        margin-top: 18%;
        margin-bottom: 12px;
        order: 0; 
    }

    .subtitle-mision-vision{
        margin-bottom: 12px;
    }
}