.info-section {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 20px;
    margin: 50px 30px 50px 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.info-section h2 {
    font-size: 2.3rem;
    font-weight: 900;
    margin-bottom: 20px;
    color: rgb(52, 58, 64);
}

.info-section p {
    font-size: 1.2rem;
    color: rgb(98, 105, 112);
}

.img-banner {
    background-image: url('/src/img/imagen-bloque-1.jpg');
    background-color: rgba(0, 0, 0, 0.1); 
    background-size: cover; 
    background-position: center; 
    background-blend-mode: overlay; 
    position: relative; 
}

.imagen-escudo-banner{
    opacity: 0.85;
}

.banner-info h2 {
    font-size: 2.4rem;
    font-weight: 900;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.banner-info p {
    font-size: 1.3rem;
    color: #ffffff; 
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); 
}

.cajon-opciones{
    background-image: url(/src/img/fondo-urltrabajo.jpg);
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 20px;
    margin: 50px 30px 50px 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.Opciones{
    margin: 35px 15px 30px 15px;
}

.cajon-egresados, .cajon-empresa {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: rgba(255, 255, 255, 0.82);
}

.cajon-egresados:hover, .cajon-empresa:hover {
    transform: scale(1.03); 
}

.title-Opciones{
    font-weight: 900;
}

.des-opciones{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}


.btnOpciones {
    background-color: rgba(138, 138, 138, 0.83); 
    color: #fff;
    padding: 15px 30px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btnOpciones:hover {
    background-color: rgba(89, 89, 89, 0.8);
}

@media (max-width: 1028px) {
    .Opciones{
        margin: 10px;
    }

    .cajon-opciones{
        padding: 10px;
    }

    .cajon-egresados{
        margin-bottom: 20px;
    }
}
