.cajon-opciones-egresados, .cajon-opciones-empresas{
    background-image: url(/src/img/fondo-urltrabajo.jpg);
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 20px;
    margin: 50px 30px 50px 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
}

.opciones{
    margin: 30px 15px 30px 15px;
}

.opcion{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: rgba(255, 255, 255, 0.82);
}

.opcion:hover {
    transform: scale(1.03); 
}

.title-opciones{
    font-weight: 900;
    font-size: 42px;
    color: #111;
}

.title-opcion{
    font-weight: 900;
}

.description-option{
    font-size: 18px;
    font-weight: 400;
}

.btnOpciones {
    background-color: rgba(138, 138, 138, 0.83); 
    color: #fff;
    padding: 15px 30px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btnOpciones:hover {
    background-color: rgba(89, 89, 89, 0.8);
}

@media (max-width: 1028px) {
    .cajon-title{
        margin-top: 100px;
    }

    .cajon-opciones-egresados, .cajon-opciones-empresas{
        padding: 0px;
        margin: 0px 0px 50px 10px;
    }


    .col-opcion{
        margin-bottom: 30px;
    }
}
