.cajon-form-listo-eg{
    background-image: url(/src/img/fondo-urltrabajo.jpg);
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 20px;
    margin: 10px 60px 30px 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.minicajon{
    background-color: rgba(255, 255, 255, 0.85);
    margin: 10px;
    border-radius: 15px;
}

.title-formex{
    font-weight: 900;
}

.des-formex{
    font-weight:400;
    font-size: 20px;
}

.chek{
    color: rgb(4, 180, 86);
}

.btn-formlist{
    background-color: rgba(138, 138, 138, 0.83); 
    color: #fff;
    padding: 15px 30px;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btn-formlist:hover {
    background-color: rgba(89, 89, 89, 0.8);
}

@media (max-width: 1028px){
    .cajon-form-listo-eg{
        margin: 10px 20px 30px 20px;
        margin-top: 4%;
    }

    .minicajon{
        margin: 0px;
    }

    .info-form1, .cajon-infoform1{
        margin-bottom: 10px;
    }
}