

/* Main */

/* Home Section */

.home-section {
    width: 100%;
    height: 100vh;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/img/imagen-bloque1.jpg");
    background-position: center;
    color: white;
    opacity: 1;
}

.home-section article {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-section article h2 {
    font-size: 45px;
}

.home-section article div {
    height: 2px;
    width: 100%;
    border-top: 1px solid rgb(255, 255, 255);
    padding: 0px;
    margin: 5px 0px;
}

/* Fin Home Section */

/* Info Section */

.info-section {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 20px;
    margin: 50px 20px 50px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.info-section h1 {
    font-size: 2.3rem;
    margin-bottom: 20px;
    color: rgb(52, 58, 64);
}

.info-section p {
    font-size: 1.2rem;
    color: rgb(108, 117, 125);
}

/* Fin Info Section */

/* Option Section */
.cajon-opciones{
    margin: 10px 50px 30px 50px;
}

.option-section {
    width: 100%;
}

.option-block {
    width: 100%;
    text-align: center;
    align-content: center;
    padding: 30px;
    transition: transform 0.3s ease-in-out;
}

.title-unete{
    font-size: 42px;
    font-weight: 900;
}

.egresado {
    background-color: rgb(245, 85, 80);
    border: 2px solid #dee2e6;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.empresa {
    background-color: rgb(190, 240, 255);
    border: 2px solid #dee2e6;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.subtitle-soyegresado, .subtitle-soyempresa{
    font-size: 38px;
    font-weight: 700;
    color: #222222;
}

.description-soyegresado, .description-soyempresa{
    font-size: 19px;
    font-weight: 400;
    color: #222222;
}

.option-button {
    width: 60%;
    background-color: #1E90FF;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
}

.option-button:hover {
    background-color: #0077cc;
}

/* Fin Option Section */

/* Fin Main */

@media (max-width: 1028px){
    .cajon-opciones{
        margin: 10px 10px 30px 10px;
    }

    .option-button{
        width: 100%;
        padding: 15px 20px;
    }
}
