.cajon-laboral{
    background-image: url(/src/img/fondo-urltrabajo.jpg);
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
    padding: 20px;
    margin: 10px 120px 50px 120px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.title-p1 {
    font-weight: 900;
    font-size: 40px;
    color: #111;
}

.item-subtitle{
    font-weight: 700;
    font-size: 32px;
    color: #111;
}

.item-1 {
    font-weight: 700;
    font-size: 28px;
    color: #111;
}

.item-1-1{
    font-weight: 700;
    font-size: 22px;
    color: #111;
    margin: 0;
}

.item-1-2{
    font-weight: 700;
    font-size: 18px;
    color: #111;
    margin: 0;
}

.item-2{
    font-size: 18px;
    margin: 0;
}

.item-3{
    font-size: 16px;
    margin: 0;
}

.cajon-solicitud, .cajon-oferta {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: rgba(255, 255, 255, 0.82);
}

.cajon-items{
    padding: 10px 60px 0px 60px;
}

.cajon-item-des{
    padding: 5px 40px 0px 40px;
    background-color: rgba(255, 255, 255, 0.75);
}

.cajon-items-fechas{
    padding: 5px 250px 100px 250px;
}

.cajon-items-fechas-eg{
    padding: 5px 250px 30px 250px;
}

.item-subtitle-empresa {
    font-weight: 700;
    font-size: 32px;
    color: rgb(123, 129, 134);
}

.item-empresa{
    color: rgb(100, 105, 110);
}

.btnhojadevida{
    background-color: rgba(255, 255, 255, 0.7); 
    color: #222;
    padding: 15px 30px;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btnhojadevida:hover {
    background-color: rgba(255, 255, 255, 0.9); 
    transform: scale(1.05); 
}

.imagen-perfil-eg{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 14px;
    border-radius: 20px;
}

@media (max-width: 1028px){
    .cajon-laboral{
        margin: 10px 10px 50px 10px;
        padding: 10px;
    }

    .cajon-items{
        padding: 10px 0px 0px 0px;
    }

    .cajon-items-fechas{
        padding: 5px 0px 100px 0px;
    }

    .cajon-title{
        margin-top: 24%;
    }
}
