.tarjeta-p1-hITIPB, .tarjeta-p2-hITIPB{
    border-radius: 8px;
    border: 2px solid #dee2e6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    height: 400px;
}

.tarjeta-p1-hITIPB{
    background-color: rgb(245, 85, 80);
}

.tarjeta-p2-hITIPB{
    background-color: rgb(190, 240, 255);
}

.subtitle-p1-hitipb, .subtitle-p2-hitipb{
    font-size: 28px;
    font-weight: 700;
}

.description-p1-hitipb, .description-p2-hitipb{
    text-align: justify;
}

.cajon-historia-ITIPB {
    background-image: url('/src/img/imagen-fondo-HISITPB.jpg');
    background-color: rgba(248, 249, 250, 0.75); 
    background-size: cover; 
    background-position: center; 
    background-blend-mode: overlay; 
    position: relative; 
    border-radius: 8px;
    border: 2px solid #dee2e6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cajon-historia-ITIPB:hover {
    transform: scale(1.02); 
    background-color: rgba(248, 249, 250, 0.85); 
}

.title-historia-ITIPB {
    text-align: center;
    font-weight: 900;
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: -10px;
    color: #111;
}

.desciption-historia-ITIPB {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.75;
    color: #111;
    text-align: justify;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); 
}

.btnestatutog {
    background-color: #1E90FF; 
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 15px 30px;
    font-size: 1.1rem;
    border: none;
    border-radius: 30px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btnestatutog:hover {
    background-color: #0077cc;
}

.featurette-divider{
    margin-top: 40px;
}

@media (max-width: 768px) {
    body {
        padding-bottom: 120px; 
    }

    .cajon-historia-ITIPB{
        width: 100%;
        margin-left: 20px;
    }

    .title1-historia-ITIPB{
        margin-top: 25%;
    }

    .desciption-historia-ITIPB{
        text-align: left;
    }
}