.cajon-formulario-contacto{
    background-image: url('/src/img/imagen-fondo-HISITPB.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
}

.title-contacto{
    font-weight: 900;
    font-size: 48px;
}

.de-contacto{
    font-weight: 700;
    font-size: 20px;
}

.subtitle-formcont{
    color: #fff;
    font-weight: 900;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
}

.subtitle-contacto-otros{
    font-weight: 700;
}

.cuadro-formcontc{
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
}

.btnestatutog {
    background-color: #1E90FF; 
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 15px 30px;
    font-size: 1.1rem;
    border: none;
    border-radius: 30px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btnestatutog:hover {
    background-color: #0077cc;
}

.cajon-redes-sociales-contacto, .cajon-correo-electronico-contacto, .cajon-numero-contacto{
    background-color: rgb(190, 240, 255, 0.7);
    border-radius: 30px;
}

.cajon-correo-electronico-contacto{
    margin-bottom: 18px;
}

.cajon-red-social{
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    font-weight:700;
    color: #000000; 
    height: 50px;
    padding-top: 10px;
}

.usuario-red-social{
    padding-left: 10px;
    padding-top:2px;
}

/*Validación Formulario*/
.invalid-feedback{
    background-color: rgb(245, 85, 80, 0.7);
    border-radius: 15px;
    font-weight:700;
    color: #fff; 
    line-height: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
}
