.cajon-formincio{
    background-image: url(/src/img/imagen-bloque-1.jpg);
    background-size: cover;
    background-position: center; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 20px;
    margin: 10px 200px 30px 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.cajon-infoform1{
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    color: #555;
}

.cajon-formreg{
    background-image: url(/src/img/imagen-bloque-1.jpg);
    background-size: cover;
    background-position: center; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 20px;
    margin: 10px 70px 30px 70px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.title-p1 {
    font-weight: 900;
    font-size: 40px;
    color: #111;
}

.info-formreg{
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    box-sizing: border-box; 
}

.select-document .form-select {
    flex: 0 0 20%;
    width: 100%;
}

.form-control, .form-select {
    height: calc(3.5rem + 2px);
}

.p-text{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 15px;
    font-weight: 700;
    color: white;
    border-radius: 15px;
    width: 25%;
}

.a-text{
    font-weight: 900;
}

.btn-form{
    background-color: rgba(138, 138, 138, 0.83); 
    color: #fff;
    padding: 15px 30px;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: 100%;
}

.btn-form:hover {
    background-color: rgba(89, 89, 89, 0.8);
}

.des-reg{
    height: 150px;
}

/*Validación Formulario*/
.invalid-feedback{
    background-color: rgb(245, 85, 80, 0.7);
    border-radius: 15px;
    font-weight:700;
    color: #fff; 
    line-height: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
}


@media (max-width: 1028px){
    .cajon-formreg ,.cajon-formincio{
        margin: 10px 10px 30px 10px;
        padding: 10px;
    }

    .p-text{
        width: 100%;
    }
}
